$h-primary:#0091EA;

$h-secondary:#455a64;

$h-success: #4CAF50;

$h-danger:#ef5350;

$h-warning: #FFC107;

$h-secondary-al:#ff4081;

$h-light-text:#c5cae9;

$h-text:#212121;

$h-white-text:#ffffff;

$h-primary-dark:#303f9f;

$h-secondary-dark:#263238;

$font-primary:'Ubuntu' , sans-serif;

